<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.smartitventures.mylibrary">

    <application android:usesCleartextTraffic="true">
        <activity android:name=".ActivityScan"></activity>
        <activity android:name=".IntroActivity" />
        <activity android:name=".CardDetailsActivity" />
        <activity android:name=".FinalActivity" />
    </application>

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>